@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
}

.ec-login-bg {
  padding: 20px;
  /*background-image: linear-gradient(to right, #61f04e, #2fed38);*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ec-login-login-image-container {
  height: 90%;
  display: none;
  box-shadow: 0px 0px 5px #888888;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  overflow: hidden;
}

.ec-login-login-image-container::after {
  position: absolute;
  background-color: var(--ec-color);
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: 50%;
  transform: translate(65%, -65%);
  animation: ec-come 1s linear;
}

@keyframes ec-come {
  from {
    transform: translate(80%, -100%);
  }
  to {
    transform: translate(65%, -65%);
  }
}

#ec-login-image {
  background-color: #ffffff;
  margin-top: 60px;
  height: 100%;
  width: 500px;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ec-login-content {
  background-color: #ffffff;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #888888;
  z-index: 1;
}

.ec-login-content h1 {
  font-size: 30px;
  font-weight: 600;
  color: var(--main-color);
}

.ec-login-button {
  position: relative;
  align-self: center;
  width: 80%;
  min-height: 35px;
  max-height: 35px;
  border: 1px solid var(--main-color);
  font-size: 18px;
  font-weight: 600;
  color: var(--main-color);
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s;
}

.ec-login-button::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition: all ease-in-out 0.3s;
}

.ec-login-button:hover::before {
  transform: translateX(0);
}

.ec-login-button:hover {
  color: #ffffff;
}

.ec-login-no-account {
  margin-bottom: 0;
  position: relative;
  top: 5%;
}

.ec-login-nav-link {
  color: var(--main-color);
  margin-top: 25px;
  text-decoration: none;
  transition: all 0.5s;
}

.ec-login-nav-link:hover {
  color: #2c7a2a;
}

@media (min-width: 881px) {
  .ec-login-login-image-container {
    display: block;
  }
  .ec-login-content {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 90%;
  }
}
