@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.voter-view-bg {
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.voter-register-main-heading {
  text-align: left;
  font-weight: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--main-color);
  font-family: "mukta";
}

hr {
  border: 1px solid rgb(0, 0, 0);
  position: relative;
  bottom: 2%;
}

.voter-register-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.voter-register-form .input-container {
  margin-bottom: auto;
  margin-top: 2%;
  padding-right: 15px;
}

.voter-register-form .radio-container {
  display: flex;
  justify-content: flex-start;
}

.voter-register-form .radio-buttons-container {
  margin-left: 20px;
}

.input-container input {
  width: 80%;
}

.voter-register-form #voterId {
  width: 50%;
}
.voter-register-form #email {
  width: 50%;
}

.react-datepicker-wrapper {
  width: 80%;
}

.date {
  width: 100%;
  padding-left: 0;
  position: relative;
  left: -6%;
}

.voter-register-form #firstName {
  width: 50%;
}
.voter-register-form #lastName {
  width: 50%;
}

.voter-register-form #password {
  width: 50%;
}
.voter-register-form #confirmPassword {
  width: 50%;
}

.voter-register-form #dob {
  width: 50%;
}
.voter-register-form #gender {
  width: 50%;
}
.voter-register-form #mobile {
  width: 50%;
}

#voter-register-footer {
  margin-top: 50px;
  width: 100%;
}

.address-input-container {
  margin-bottom: auto;
  margin-top: 2%;
  width: 100%;
}

.address-input-container-placeholder {
  text-align: left;
  font-size: 15px;
  font-family: "Roboto";
  transition: 0.5s all;
}

.address-input-container:hover .address-input-container-placeholder {
  color: var(--main-color);
}

.nested-dropdown-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.selectdiv {
  margin: 0 10px 10px 0;
}

.voter-register-form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voter-register-button {
  position: relative;
  align-self: center;
  width: 135px;
  min-height: 35px;
  max-height: 35px;
  border: 1px solid var(--main-color);
  font-size: 16px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
}

.voter-register-button::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition: all ease-in-out 0.5s;
}

.voter-register-button:hover::before {
  transform: translateX(0);
}

.voter-register-button:hover {
  color: #ffffff;
}

.voter-register-already-account {
  margin-bottom: 0;
  position: relative;
  top: 5%;
}

.voter-register-nav-link {
  color: var(--main-color);
  margin-top: 25px;
  text-decoration: none;
  transition: all 0.5s;
}

.voter-register-nav-link:hover {
  color: #2c7a2a;
}

.register-failed-message {
  color: red;
  font-size: 15px;
  font-weight: 600;
}

.no-edit-form {
  pointer-events: none;
  opacity: 0.5;
}

.voter-view-form-footer {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
  pointer-events: all;
}

.voter-view-form-footer button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 3px;
}

.voter-edit-button {
  background: rgb(0, 68, 255);
  color: #fff;
}

.voter-save-button {
  background: limegreen;
  color: #fff;
}

.voter-delete-button {
  background: #ff0000;
  color: #fff;
}

.voter-close-button {
  background: #da6c06;
  color: #fff;
}

.voter-reset-button {
  background: rgb(255, 166, 0);
  color: #fff;
}

.dummy-input {
  display: none;
}

.voter-view-header {
  display: flex;
  justify-content: space-between;
}

.hide-popup-icon {
  font-size: 25px;
  color: #888;
  cursor: pointer;
}

.voter-view-error-message {
  color: red;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
}

.voter-view-loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#updateForm #voterId {
  pointer-events: none;
}

.delete-confirmation-container {
  padding: 15px;
}

.delete-confirmation-container h1 {
  font-size: 35px;
  font-weight: 600;
  color: blue;
  text-align: center;
}

.delete-confirmation-container p {
  font-family: var(--main-font);
  font-weight: 600;
}

.delete-confirmation-container .message {
  color: red;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
}

.confirm-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.confirm-buttons-container button {
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 100px;
  color: #fff;
}

.confirm-buttons-container .delete {
  background: red;
  font-weight: 600;
  transition: all 0.2s;
}

.confirm-buttons-container .delete:hover {
  box-shadow: 0px 0px 5px #888;
}

.confirm-buttons-container .cancel {
  background: #8f8f8f;
}

.confirmed-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.confirmed-image-container p {
  color: green;
  font-weight: 600;
  font-family: var(--main-font);
}

.view-loader-container {
  width: 300px;
}

@media (max-width: 576px) {
  .voter-register-form {
    flex-direction: column;
  }
  .voter-register-form .input-container {
    width: 100% !important;
  }
  .voter-register-form .radio-container {
    width: 100% !important;
    justify-content: flex-start;
  }
  .voter-register-form .radio-container p {
    font-size: 14px;
  }
  .voter-register-form .radio-buttons-container {
    margin-left: auto;
    margin-top: 10px;
    align-items: center;
  }
  .voter-register-form .radio-buttons-container label {
    width: 40px;
    font-size: 12px;
  }
  .voter-register-form .address-input-container p {
    font-size: 14px;
    text-align: left;
  }
  .voter-register-form .dropdown-container {
    margin-bottom: 10px;
  }

  .voter-register-form select {
    font-size: 14px;
  }

  .voter-register-form .date {
    font-size: 14px;
  }
  .voter-view-form-footer {
    justify-content: space-between;
    width: 90%;
  }
  .voter-view-form-footer button {
    width: 80px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .input-container {
    font-size: 13px;
  }
  .radio-container p {
    font-size: 14px;
  }
  .radio-container label {
    width: 50px;
  }
  .address-input-container p {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .input-container {
    font-size: 15px;
  }
  .radio-container p {
    font-size: 15px;
  }
  .radio-container label {
    width: 70px;
    font-size: 14px;
  }
}
