.voter-view-nomination-buttons-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.voter-view-nomination-button {
  border: none;
  border-radius: 8px;
  color: #fff;
  height: 35px;
  width: 100px;
  font-size: 14px;
}

.edit-button {
  background: rgb(38, 0, 255);
}

.update-button {
  background: rgb(5, 199, 31);
}

.reset-button {
  background: rgb(207, 193, 0);
}

#voter-view-nomination {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#voter-view-nomination .voter-nomination-content {
  box-shadow: none;
  width: 100%;
  height: 100%;
}

.edit-form {
  pointer-events: none;
  opacity: 0.5;
}

.voter-view-nomination-input-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.voter-view-nomination-header {
  display: flex;
  width: 100%;
}

.voter-view-nomination-header i {
  margin-left: auto;
  cursor: pointer;
}

.candidate-nomination-popup-content .nomination-image-container {
  height: auto;
}
