.view-candidate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--main-font);
  height: 350px;
}

.view-candidate h1 {
  font-size: 25px;
  font-family: var(--main-font);
  color: blue;
  font-weight: 600;
}

.edit-form {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.5;
  pointer-events: none;
}

.editable {
  opacity: 1;
  pointer-events: all;
}

.candidate-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.candidate-buttons-container .inner-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.candidate-buttons-container button {
  border: none;
  border-radius: 3px;
  width: 80px;
  height: 30px;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto";
  margin-bottom: 10px;
}

.candidate-buttons-container .edit-button {
  background: var(--main-color);
}

.candidate-buttons-container .reset-button {
  background: rgb(0, 132, 255);
}

.candidate-buttons-container .update-button {
  background: rgb(2, 228, 59);
}

.candidate-buttons-container .close-button {
  background: rgb(175, 175, 175);
}

.edit-candidate-success-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.edit-candidate-success-container p {
  color: rgb(2, 167, 2);
  font-weight: 600;
  font-size: 20px;
}

.delete-button {
  background: red;
}
