@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
.ec-view-details-bg {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-box-heading {
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 50px;
  color: blue;
}

.details-header-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  height: 45px;
  border: 1px solid black;
  border-bottom: 0px;
  border-right: 0px;
}

.details-header-details .delete {
  width: 50%;
}

.details-header-details p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-right: 5%;
  margin-bottom: 0px;
  border-right: 1px solid black;
}

.delete-confirmation-container h1 {
  font-size: 30px;
  font-weight: 600;
}

.popup-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 29px;
}

.popup-details-left {
  text-align: right;
}

.popup-details-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.popup-details-right {
  text-align: left;
}
