@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
.ec-view-details-bg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.details-container {
  box-shadow: 0 0 8px #888;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
}

.table-box-heading {
  font-size: 35px;
  font-weight: 600;
  color: var(--main-color);
  font-family: var(--main-font);
  text-align: center;
  position: sticky;
  margin-top: 0px;
}
