@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

.dash-bg {
  background: #ffffff;
  height: 100vh;
  overflow-x: hidden;
}

.welcome {
  text-align: right;
  padding: 0px 30px 0px 0px;
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 600;
}

.cast-vote-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.cast-vote-container {
  width: 80%;
  border: 2px solid black;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cast-vote-header-container {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.cast-vote-header {
  height: 100%;
  margin: 0 0 0 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.cast-vote-header li {
  height: 100%;
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  border-bottom: 1px solid black;
  background: black;
  color: #fff;
}

.cast-vote-header li:not(:last-of-type) {
  border-right: 1px solid black;
}

.party-list {
  min-height: 100px;
  height: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px;
}

.party-list-li {
  padding-top: 15px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.party-list-li p {
  margin: 0px;
}

.party-list-li:not(:last-of-type) {
  width: 100%;
  margin-left: 0;
  border-bottom: 1px solid rgb(182, 179, 179);
}

.party-logo {
  max-height: 50px;
  max-width: 50px;
}

.cast-vote-button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 3px;
  background: rgb(163, 9, 235);
  transition: all 0.3s;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.cast-vote-button:hover {
  background: rgb(185, 13, 201);
}

.cast-vote-confirmation-content {
  padding: 15px !important;
  width: 400px !important;
  border-radius: 8px;
  height: fit-content !important;
}

.cast-vote-confirmation-content h1 {
  font-family: "Bree Serif";
  color: rgb(0, 216, 72);
}

.cast-vote-confirmation-content p {
  margin-left: 15px;
  font-size: 15px;
  font-family: "Roboto";
}

.cast-vote-confirmation-content .buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cast-vote-confirmation-content button {
  border: none;
  border-radius: 8px;
  height: 35px;
  width: 100px;
  font-size: 14px;
}

.loading-header {
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}

.active-election-type {
  background: #fff !important;
  color: black !important;
  border-bottom: 0px !important;
}

.party-name {
  width: 100px;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
.candidate-name {
  width: 150px;
  text-align: left;
  font-weight: 600;
}

.quote {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
  font-family: "IM Fell English SC", serif;
  color: rgb(146, 0, 151);
}

.voter-no-results {
  margin-top: 20px;
  color: red;
}

.voter-no-results i {
  font-size: 25px;
}

.voter-no-results h1 {
  font-size: 16px;
}
.party-list .pending-loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media (max-width: 400px) {
  .cast-vote-header li {
    font-size: 14px;
  }
  .party-name {
    font-size: 12px;
    width: 30px;
    margin-right: 14px;
    text-transform: none;
  }
  .candidate-name {
    font-size: 13px;
    width: 60px;
    margin-left: 0px;
  }
  .party-logo {
    max-height: 40px;
    max-width: 40px;
  }
  .cast-vote-button {
    width: 40px;
    height: 30px;
    font-size: 12px;
  }
  .quote {
    font-size: 20px;
  }
  .voter-no-results {
    font-size: 10px;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  .party-name {
    font-size: 14px;
    width: 70px;
    margin-left: 10px;
  }
  .candidate-name {
    font-size: 14px;
    width: 100px;
  }
  .party-logo {
    height: 40px;
    width: 40px;
  }
  .cast-vote-button {
    width: 70px;
    font-size: 16px;
    height: 35px;
  }
  .quote {
    font-size: 30px;
  }
}

@media (min-width: 900px) {
  .quote br {
    display: none;
  }
  .quote {
    font-size: 25px;
  }
  .candidate-name {
    font-size: 18px;
    font-weight: 600;
  }
  .party-name {
    font-size: 18px;
    font-weight: 600;
  }
}

@media (min-width: 1000px) {
  .quote {
    font-size: 30px;
  }
}
