.pending-loader {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voter-id {
  cursor: pointer;
}

.pending-requests-container {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.pending-request-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pending-request-header button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: blue;
  color: #fff;
  border-radius: 3px;
  font-size: 15px;
  height: 30px;
  outline: none;
}

.pending-request-header button i {
  padding: 0px;
  margin: 0px;
  transition: all 0.5s;
}

.pending-request-header button:hover i {
  transform: rotate(180deg);
}

.pending-heading {
  text-align: center;
  font-size: 30px;
  color: blue;
  font-weight: 600;
}

.pending-list {
  list-style: none;
  padding-left: 0px;
  border: 1px solid black;
}

.pending-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  transition: all 0.2s;
}

.pending-list-item:hover {
  background: rgb(238, 238, 238);
}

.pending-list-item:not(:last-child) {
  border-bottom: 1px solid black;
}

.pending-list-item p {
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
}

.pending-list-item i {
  color: rgb(2, 179, 2);
  font-size: 18px;
  cursor: pointer;
}

.pending-list-item .delete-icon {
  color: red;
  margin-left: 15px;
}

.pending-list-item .voter-id {
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
  font-family: "Bree Serif";
}

.approval-popup-content {
  padding: 15px !important;
  width: 400px !important;
  border-radius: 8px;
}

.approval-container-header h1 {
  font-size: 20px;
  font-weight: 600;
  color: blue;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 20px;
}

.approval-popup-content p {
  padding-left: 10px;
  font-size: 15px;
}

.approval-container-header {
  display: flex;
}

.approval-container-header i {
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
}

.approval-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.approval-buttons-container button {
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 35px;
}

.approve {
  background: rgb(0, 143, 0);
  color: #fff;
}

.reject {
  background: red;
  color: #fff;
}

.no-results {
  margin-top: 30px;
  color: red;
}

.no-results i {
  font-size: 25px;
}

.no-results h1 {
  font-size: 15px;
}

.pending-request-header .search-input-container {
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 576px) {
  .approval-popup-content {
    width: 300px !important;
  }
}
