.voter-view-results-bg {
  height: 100vh;
}

.voter-view-results-content {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voter-view-results {
  height: 400px;
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px #888;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.voter-view-results .main-heading {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 20px;
}

.voter-view-results-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
}

.voter-view-results-form p {
  font-family: var(--main-font);
}

.voter-view-results-form select {
  font-weight: 600;
  font-family: var(--main-font);
}

.view-results-type-input-container {
  height: 100px;
}

@media (max-width: 576px) {
  .voter-view-results {
    width: 80%;
  }
  .view-results-type-input-container {
    font-size: 14px;
    text-align: left;
  }
  .view-results-type-input-container .selectdiv {
    width: 120px;
    font-size: 10px;
  }
}
