@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.home-outer-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2aebc1;
}

.home-bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;

  clip-path: circle(121.1% at 96% 8%);
  animation: turn 1.3s linear;
}

@keyframes turn {
  from {
    clip-path: circle(15.1% at 96% 8%);
  }
  to {
    clip-path: circle(121.1% at 96% 8%);
  }
}

.home-bg:after {
  background-color: red;
}

.home-main-heading {
  text-align: left;
  margin-left: 90px;
  font-family: "Righteous", cursive;
  color: black;
  font-size: 30px;
  height: 50px;
  color: #000000;
  margin-right: auto;
}

.home-main-heading span {
  font-family: "Secular One", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: rgb(11, 113, 230);
}

i {
  margin-right: 10px;
}

.home-content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 70%;
  margin-top: 100px;
  box-shadow: 0 0 8px #888;
}

.home-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.home-voter-section {
  width: 100%;
  background: var(--voter-color);
}

.home-ec-section {
  width: 100%;
  background: var(--ec-color);
}

.home-section h1 {
  color: #fff;
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.home-section p {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 27px;
}

.home-section button {
  font-family: "Mukta", sans-serif;
  width: 200px;
  align-self: center;
  height: 60px;
  background: none;
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
}

.home-section button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50%;
  background: #fff;
  transform: translate(-100%);
  transition: all 0.5s;
}

.home-voter-button:hover::before {
  transform: translate(0);
  border-radius: 0;
}

.home-voter-button:hover {
  color: var(--voter-color);
}

.home-ec-button:hover::before {
  transform: translate(0);
  border-radius: 0;
}

.home-ec-button:hover {
  color: var(--ec-color);
}

.home-ec-section {
  border: 1px solid var(--ec-color);
  width: 100%;
  border-left: none;
}

@media (max-width: 576px) {
  .home-main-heading {
    font-size: 25px;
  }
  .home-main-heading span {
    font-size: 40px;
  }
  .home-content {
    flex-direction: column;
  }
  .home-section {
    padding: 20px;
  }
  .home-section h1 {
    font-size: 25px;
  }
  .home-section p {
    margin-top: 10px;
    font-size: 15px;
  }
  .home-section button {
    height: 35px;
    width: 125px;
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 756px) {
  .home-section h1 {
    font-size: 40px;
  }
  .home-section p {
    font-size: 20px;
  }
}

@media (min-width: 577px) and (max-width: 1000px) {
  .home-content {
    width: 90%;
  }
  .home-section {
    padding: 15px;
  }
}
