:root {
  --inactive-color: #727272;
}

.voter-register-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #56ccf2, #2f80ed);
  height: 100vh;
  font-family: "Roboto";
  padding: 10px 20px 10px 20px;
  overflow: hidden;
}

.voter-register-image-container {
  display: none;
}

.voter-register-line {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: var(--inactive-color);
  top: 1%;
  margin-bottom: 25px;
}

.voter-register-content {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px #888888;
  padding: 15px;
  height: 100%;
  overflow: auto;
  max-width: 500px;
  scrollbar-width: none;
}

.voter-register-content::-webkit-scrollbar {
  display: none;
}

.voter-register-main-heading {
  text-align: center;
  color: var(--main-color);
  font-size: 25px;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin-top: 15px;
}

.voter-register-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  direction: ltr;
  height: 500px;
  width: 100%;
}

.input-container {
  flex-grow: 1;
  margin-left: 15px;
  margin-top: 5px;
}

.radio-container {
  flex-grow: 1;
  margin-left: 7px;
  margin-top: 5px;
}

.voter-register-form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 100px;
}

.voter-register-button {
  margin-bottom: 20px;
  position: relative;
  align-self: center;
  width: 90%;
  min-height: 35px;
  max-height: 35px;
  border: 1px solid var(--main-color);
  font-size: 18px;
  font-weight: 550;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s;
}

.voter-register-button::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition: all ease-in-out 0.5s;
}

.voter-register-button:hover::before {
  transform: translateX(0);
}

.voter-register-button:hover {
  color: #ffffff;
}

.voter-register-form-footer p {
  margin-bottom: 0;
}

.voter-register-nav-link {
  color: var(--main-color);
  padding-top: 0px;
  text-decoration: none;
  transition: all 0.5s;
}

.voter-register-nav-link:hover {
  color: #2848ff;
}

@media (max-width: 400px) {
  .radio-placeholder {
    display: none;
  }
  .radio-container label {
    font-size: 10px;
  }
}

@media (min-height: 1000px) {
  .voter-register-form {
    height: 800px;
  }
}

@media (min-width: 850px) {
  .voter-register-image-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .voter-register-image-container svg {
    height: 70%;
  }

  .voter-register-bg {
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    padding: 0;
  }

  .voter-register-content {
    border-radius: 0px;
  }

  .voter-register-main-heading {
    text-align: left;
  }
}

#e1g32wh3j9sq3_to {
  animation: e1g32wh3j9sq3_to__to 3000ms linear infinite normal forwards;
}
@keyframes e1g32wh3j9sq3_to__to {
  0% {
    transform: translate(-18.752046px, 112.501095px);
  }
  13.333333% {
    transform: translate(-18.752046px, 112.501095px);
  }
  36.666667% {
    transform: translate(309.927954px, 112.501095px);
  }
  100% {
    transform: translate(309.927954px, 112.501095px);
  }
}
#e1g32wh3j9sq4_to {
  animation: e1g32wh3j9sq4_to__to 3000ms linear infinite normal forwards;
}
@keyframes e1g32wh3j9sq4_to__to {
  0% {
    transform: translate(-28.079686px, 127.425468px);
  }
  13.333333% {
    transform: translate(252.100314px, 127.425468px);
  }
  100% {
    transform: translate(252.100314px, 127.425468px);
  }
}
#e1g32wh3j9sq42_ts {
  animation: e1g32wh3j9sq42_ts__ts 3000ms linear infinite normal forwards;
}
@keyframes e1g32wh3j9sq42_ts__ts {
  0% {
    transform: translate(508.328003px, 76.085001px) scale(0, 0);
  }
  20% {
    transform: translate(508.328003px, 76.085001px) scale(0, 0);
  }
  33.333333% {
    transform: translate(508.328003px, 76.085001px) scale(1, 1);
  }
  100% {
    transform: translate(508.328003px, 76.085001px) scale(1, 1);
  }
}
#e1g32wh3j9sq43_ts {
  animation: e1g32wh3j9sq43_ts__ts 3000ms linear infinite normal forwards;
}
@keyframes e1g32wh3j9sq43_ts__ts {
  0% {
    transform: translate(537.708008px, 137.307003px) scale(0, 0);
  }
  33.333333% {
    transform: translate(537.708008px, 137.307003px) scale(0, 0);
  }
  46.666667% {
    transform: translate(537.708008px, 137.307003px) scale(0, 0);
  }
  63.333333% {
    transform: translate(537.708008px, 137.307003px) scale(1, 1);
  }
  100% {
    transform: translate(537.708008px, 137.307003px) scale(1, 1);
  }
}
