:root {
  --inactive-color: #727272;
}

.bg {
  background-color: #e7f1ea;
  height: 100vh;
  padding: 10px 20px 10px 20px;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: var(--inactive-color);
  top: 1%;
  margin-bottom: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #888888;
  padding: 15px;
  height: 100%;
  overflow-y: auto;
  max-width: 500px;
  direction: rtl;
}

#voting-image {
  height: 20%;
  width: 400px;
  margin-top: auto;
  align-self: center;
  display: none;
}

.main-heading {
  color: var(--main-color);
  font-size: 25px;
  font-family: "Sans Serif";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  direction: ltr;
  height: 500px;
}

.input-container {
  flex-grow: 1;
  margin-left: 15px;
  margin-top: 5px;
}

.radio-container {
  flex-grow: 1;
  margin-left: 7px;
  margin-top: 5px;
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.button {
  margin-bottom: 20px;
  position: relative;
  align-self: center;
  width: 125px;
  min-height: 35px;
  max-height: 35px;
  border: 1px solid var(--main-color);
  font-size: 16px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s;
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition: all ease-in-out 0.15s;
}

.button:hover::before {
  transform: translateX(0);
}

.button:hover {
  color: #ffffff;
}

.form-footer p {
  margin-bottom: 0;
}

.nav-link {
  color: var(--main-color);
  padding-top: 0px;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-link:hover {
  color: #2848ff;
}

#content::-webkit-scrollbar {
  width: 12px;
}
#content::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30ff00);
}

@media (min-height: 1000px) {
  .form {
    height: 800px;
  }
  #voting-image {
    display: block;
    height: 30%;
  }
}
