.voter-register-outer-bg {
  padding: 30px;
  overflow-x: hidden;
}

.voter-register-bg {
  box-shadow: 0 0 15px #888;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.voter-register-main-heading {
  text-align: left;
  font-weight: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--main-color);
  font-family: "mukta";
  margin-top: 0px;
}

hr {
  border: 1px solid rgb(0, 0, 0);
  position: relative;
  bottom: 2%;
}

.voter-register-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.voter-register-form .input-container {
  margin-bottom: auto;
  margin-top: 2%;
  padding-right: 15px;
}

.voter-register-form .radio-container {
  display: flex;
  justify-content: flex-start;
}

.voter-register-form .radio-buttons-container {
  margin-left: 20px;
}

.input-container input {
  width: 80%;
}

.voter-register-form #voterId {
  width: 50%;
}
.voter-register-form #email {
  width: 50%;
}

.react-datepicker-wrapper {
  width: 80%;
}

.date {
  width: 100%;
  padding-left: 0;
  position: relative;
  left: -6%;
}

.voter-register-form #firstName {
  width: 50%;
}
.voter-register-form #lastName {
  width: 50%;
}

.voter-register-form #password {
  width: 50%;
}
.voter-register-form #confirmPassword {
  width: 50%;
}

.voter-register-form #dob {
  width: 50%;
}
.voter-register-form #gender {
  width: 50%;
}
.voter-register-form #mobile {
  width: 50%;
}

#voter-register-footer {
  margin-top: 50px;
  width: 100%;
}

.address-input-container {
  margin-bottom: auto;
  margin-top: 2%;
  width: 100%;
}

.address-placeholder {
  transition: all 0.5s;
}

.address-input-container:hover .address-placeholder {
  color: var(--main-color);
}

.address-input-container-placeholder {
  text-align: left;
  font-size: 15px;
  font-family: "Roboto";
  transition: 0.5s all;
}

.address-input-container:hover .address-input-container-placeholder {
  color: var(--main-color);
}

.nested-dropdown-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.selectdiv {
  margin: 0 10px 10px 0;
}

.voter-register-form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voter-register-button {
  position: relative;
  align-self: center;
  width: 135px;
  min-height: 35px;
  max-height: 35px;
  border: 1px solid var(--main-color);
  font-size: 16px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
}

.voter-register-button::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition: all ease-in-out 0.5s;
}

.voter-register-button:hover::before {
  transform: translateX(0);
}

.voter-register-button:hover {
  color: #ffffff;
}

.voter-register-already-account {
  margin-bottom: 0;
  position: relative;
  top: 5%;
}

.voter-register-nav-link {
  color: var(--main-color);
  margin-top: 25px;
  text-decoration: none;
  transition: all 0.5s;
}

.voter-register-nav-link:hover {
  color: #2c7a2a;
}

.submit-bg {
  opacity: 0.5;
  pointer-events: none;
}

.register-failed-message {
  color: red;
  font-size: 15px;
  font-weight: 600;
}

.react-datepicker__input-container {
  margin-left: 0px;
}

@media (max-width: 576px) {
  .voter-register-form {
    flex-direction: column;
  }
  .voter-register-form .input-container {
    width: 100% !important;
  }
  .voter-register-form .radio-container {
    width: 100% !important;
    justify-content: flex-start;
  }
  .voter-register-form .radio-container p {
    font-size: 14px;
  }
  .voter-register-form .radio-buttons-container {
    margin-left: auto;
    margin-top: 10px;
    align-items: center;
  }
  .voter-register-form .radio-buttons-container label {
    width: 40px;
    font-size: 12px;
  }
  .voter-register-form .address-input-container p {
    font-size: 14px;
    text-align: left;
  }
  .voter-register-form .dropdown-container {
    margin-bottom: 10px;
  }

  .voter-register-form select {
    font-size: 14px;
  }

  .voter-register-form .date {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .voter-register-form .input-container {
    font-size: 13px;
  }
  .voter-register-form .radio-container p {
    font-size: 14px;
  }
  .voter-register-form .radio-container label {
    width: 50px;
  }
  .voter-register-form .address-input-container p {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .voter-register-form .input-container {
    font-size: 15px;
  }
  .voter-register-form .radio-container p {
    font-size: 15px;
  }
  .voter-register-form .radio-container label {
    width: 70px;
    font-size: 14px;
  }
}
