@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Nunito:wght@200&family=Source+Code+Pro:wght@300&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Righteous&display=swap");
.App {
  text-align: center;
}

:root {
  --main-color: #132dbe;
  --voter-color: #4287f5;
  --ec-color: #2aeb51;
}
