@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Nunito:wght@200&family=Source+Code+Pro:wght@300&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  text-align: center;
  outline: none;
}

:root {
  --main-color: #132dbe;
  --voter-color: #4287f5;
  --ec-color: #1abe3b;
  --main-font: "Open Sans", sans-serif;
}

.popup-details {
  width: fit-content;
  display: flex;
  padding-left: 0px;
  margin: 20px auto 20px auto;
}

.popup-details-left {
  text-align: right;
  width: 120px;
}

.popup-details-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.popup-details-right {
  text-align: left;
  width: 120px;
}
